* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: radial-gradient(circle, #0b456b, #021c37);
}

.Clock {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: radial-gradient(circle, #05263c, #000d1a);
}

.Clock::before {
    content: "";
    width: 525px;
    height: 525px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to right, #41c6dd, #e188e7);
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.2);
    z-index: -1;
}

.number {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
    color: #1a1b1c;
    text-shadow: 0 0 12px #e305f3;
}

.number b {
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}

.center-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #d70de6;
    border: 6px solid #00d9ff;
    border-radius: 50%;
    top: 51%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.hour-hand,
.minute-hand,
.second-hand {
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(var(--rotate)deg);
    transform-origin: bottom;
    border-radius: 30px 30px 0 0;
}

.hour-hand {
    width: 12px;
    height: 130px;
    background: linear-gradient(#f10c41, #f1044b);
}

.minute-hand {
    width: 12px;
    height: 190px;
    background: linear-gradient(to top, #111b1d, #da0ce9);
}

.second-hand {
    width: 6px;
    height: 210px;
    background: linear-gradient(to top, #0779eb, #cec7ce);
}
